
.userProfile{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    margin-left: 20px;
}

.userProfile h3{
    white-space: nowrap;
    font-family: 'Prata', 'Times New Roman', Times, serif;
    letter-spacing: 0.05em;

}

.userProfile img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

nav hr{
    border: none;
    background: rgb(185, 180, 180);
    height: 70%;
    width: 1px;
}

.section1 .product-section{
    padding: 0;
    padding-top: 10%;
    gap: 4%;

}

.section1 .product-section .products::-webkit-scrollbar{
    display: none;
}

.section1 .product-section h3{
    font-size: 2em;
}

.section1 .product-section .products{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background: rgba(80, 78, 78, 0.3);
    padding: 3%;
    bottom: 0;
    row-gap: 10%;
    overflow: scroll;
    position: relative;

}

.product-section .products .productFrame{
    height: 160px;
}

.product-section .products .productFrame img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

